@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  background: #F8FAFC;
  color: #0F172A;
  -webkit-font-smoothing: antialiased;
}

/* Drag-drop visual cues */
.dragging {
  opacity: 0.4;
}

/* prevent native long-press menu in mobile while dragging */
.touch-none-while-drag {
  touch-action: none;
}
